# Entorno virtual
env/
.venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Archivos de log
*.log

# Archivos de configuración de IDE
.vscode/
*.code-workspace

# Carpeta de análisis estático
.scannerwork/

